body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
.u35 {
  position:absolute;
  left:0px;
  top:55px;
  width:320px;
  height:1px;
}
.u36 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u37 {
  position:absolute;
  left:8px;
  top:8px;
  width:40px;
  height:40px;
}
.u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
.u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u39 {
  position:absolute;
  left:58px;
  top:8px;
  width:32px;
  height:16px;
}
.u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
.u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
  text-align:right;
}
.u41 {
  position:absolute;
  left:218px;
  top:8px;
  width:92px;
  height:15px;
  font-size:12px;
  color:#797979;
  text-align:right;
}
.u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
.u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
}
.u43 {
  position:absolute;
  left:58px;
  top:32px;
  width:252px;
  height:15px;
  font-size:12px;
  color:#797979;
}
.u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
.u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
.u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u34-2 {
  position:absolute;
  left:0px;
  top:60px;
  width:320px;
  height:60px;
}
#u34-3 {
  position:absolute;
  left:0px;
  top:120px;
  width:320px;
  height:60px;
}
#u34-4 {
  position:absolute;
  left:0px;
  top:180px;
  width:320px;
  height:60px;
}
#u34-5 {
  position:absolute;
  left:0px;
  top:240px;
  width:320px;
  height:60px;
}
#u34-6 {
  position:absolute;
  left:0px;
  top:300px;
  width:320px;
  height:60px;
}
#u34-7 {
  position:absolute;
  left:0px;
  top:360px;
  width:320px;
  height:60px;
}
#u34-8 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:60px;
}
#u34-9 {
  position:absolute;
  left:0px;
  top:480px;
  width:320px;
  height:60px;
}
#u34-10 {
  position:absolute;
  left:0px;
  top:540px;
  width:320px;
  height:60px;
}
#u34-11 {
  position:absolute;
  left:0px;
  top:600px;
  width:320px;
  height:60px;
}
#u34-12 {
  position:absolute;
  left:0px;
  top:660px;
  width:320px;
  height:60px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
